.tengah {
  text-align: center;
  width: 100%;
}

a.tbl-black {
  background: #000000;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

a.tbl-black:hover {
  background: #000000;
  text-decoration: none;
}

a.tbl-green {
  background: #1B9154;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

a.tbl-green:hover {
  background: #1B9154;
  text-decoration: none;
}

section {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}

p {
  font-family: 'Arial Black', sans-serif;
  margin: 10px 0px;
  padding: 10px 0px;
  font-size: 15px;
  color: #000000c2;
}

.kolom {
  margin-top: 50px;
  margin-bottom: 50px;
}

.kolom .deskripsi {
  font-size: 20px;
  font-weight: bold;
  font-family: "comic sans ms";
  color: #364f6b;
}

@import url('https://fonts.googleapis.com/css2?family=Arial+Black&display=swap');

h2 {
  font-family: 'Arial Black', sans-serif;
  font-weight: 800;
  font-size: 45px;
  margin-bottom: 20px;
  width: 100%;
  line-height: 50px;
}

.green-text {
  color: #1B9154; 
}

.black-text {
  color: #000000;
}

.tengah {
  text-align: center;
  width: 100%;
}

.responsive-gif {
  max-width: 100%;
  max-height: 400px; /* Set a max height */
  height: auto;
  object-fit: contain; /* Maintain aspect ratio */
  border-radius: 20px; /* Adding rounded corners */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Thicker shadow */
}

@media screen and (min-width: 992px) {
  .responsive-gif {
    max-width: 600px; /* Limiting the width on larger screens */
    max-height: 400px; /* Ensure it doesn't stretch vertically */
    margin: 0 auto; /* Centering the GIF */
  }
}

@media screen and (max-width: 991.98px) {
  section {
    display: block;
  }

  section img {
    display: block;
    width: 100%;
    height: auto;
  }
}
